.d2{
    display: flex;
}
.d3{
    border: 2px solid black;
    padding: 10px;
    margin: 7px;
    background-color: white;
    border-radius: 8px;
}
.d1{
    text-align: center;
    padding-left: 380px;
}
body{
    background-color: #F7F9F2;
}
button{
    background-color:green;
    color: white;
    width: 80px;
}
button:hover{
    background-color: aquamarine;
}
